.recopick-swipe-stage {
  position: relative;
}
.recopick-swipe-target {
  position: relative;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -ms-transition: -ms-transform 300ms;
  -o-transition: -o-transform 300ms;
  transition: transform 300ms;
}
.recopick-swipe-disabled-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.recopick-swipe-target-clone {
  position: absolute;
}
